
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #ff4aff, #220138);
}
#main-head {
    margin: 50px;
}
.container {
    overflow: hidden;
}
.container h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #633704;
  font-size: 40px;
  text-align: center;
  border: #999;
  background-color: #fbfcfd;
  max-width: fit-content;
  padding: 10px;
  border-radius: 8px;

}
.wrapper{
  max-width: 500px;
  padding: 28px 0 30px;
  margin: 20px auto;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}
.task-input{
  height: 52px;
  padding: 0 25px;
  position: relative;
}
.task-input img{
  top: 50%;
  position: absolute;
  transform: translate(17px, -50%);
}
.task-input input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 0 20px 0 53px;
  border: 1px solid #999;
}
.task-input input:focus,
.task-input input.active{
  padding-left: 52px;
  border: 2px solid #3C87FF;
}
.task-input input::placeholder{
  color: #bfbfbf;
}
.controls, li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.controls{
  padding: 18px 25px;
  border-bottom: 1px solid #ccc;
}

.filters span{
  margin: 0 8px;
  font-size: 17px;
  color: #444444;
  cursor: pointer;
}
.filters span:first-child{
  margin-left: 0;
}
.filters span.active{
  color: #3C87FF;

}
.controls .clear-btn{
  border: none;
  opacity: 0.6;
  outline: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 13px;
  padding: 7px 13px;
  border-radius: 4px;
  letter-spacing: 0.3px;
  pointer-events: none;
  transition: transform 0.25s ease;
  background: linear-gradient(135deg, #1798fb 0%, #2D5CFE 100%);
}
.clear-btn.active{
  opacity: 0.9;
  pointer-events: auto;
}
.clear-btn:active{
  transform: scale(0.93);
}
.task-box {
  padding: 20px 25px;
}
.task-box .task {
  list-style: none;
  font-size: 17px;
  margin-bottom: 18px;
  padding-bottom: 16px;
  border-bottom: 1px solid wheat;
}

.task-box .task:last-child {
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;


}
.task label {
  display: flex;
}
.task label input{
  margin-top: 6px;
  margin-right: 12px;

}

.task .settings{
  cursor: pointer;
}
#item-list {
    margin: auto;
    overflow: hidden;

}
#item-list ul {
    padding: 0;
    list-style: none;
    margin: 20px;
    

}
#item-list ul li {
    display: inline;
    padding: 15px;
    border: 0;
  }

  .task-bar {
    display: flex;
    justify-content: center;
    width: auto;
  }

  .task-menu {
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
  }
#main-footer{
    background: blueviolet;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}



